.slide {
    overflow: hidden;
}

section.slide h2 {
    background: rgba(255,255,255,.7);
    display: inline-block;
    padding: 20px 40px;
    margin: 0 0 0 -40px;
}

section.slide.cover h2 {
    margin-bottom: 37px;
}

.slide.cover h2 {
    position: absolute;
    bottom: 0;
}

.slide.cover.cover-white {
    background-color: #fff;
}

.slide.last h2 {
    bottom: 50px;
    position: absolute;
}

.slide.last .info {
    position: absolute;
    left: 50%;
    width: 50%;
}

.slide.last .info .author {
    margin: 0;
}

.slide.last .author.social {
    margin-left: -80px;
}

.slide.last .author.social a {
    border: none;
    margin-left: 5px;
}

.slide.last .author.social a img {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.slide.qr-code {
    text-align: center;
}

.slide.qr-code img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    height: 80%;
}

.slide.qr-code a {
    bottom: 0;
    position: absolute;
    font-size: 80px;
    border: none;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    line-height: 160%;
    font-family: 'PT Mono', monospace;
}

.slide.first h2 {
    background: none;
    font-size: 72px;
    width: 700px;
}

.slide.first .info .author {
    font-weight: 700;
}

.slide.first .info .post {
    margin-top: -.5em;
}

.slide ol, .slide ul {
    font-size: 35px;
}
